@font-face {
    font-family: 'Chocolate', sans-serif;
    src: '../../fonts/Chocolate Covered Raindrops.ttf';
    font-weight: normal;
}

@font-face {
    font-family: 'Chocolate', sans-serif;
    src: '../../fonts/chocolate Covered Raindrops Hollow.ttf';
    font-weight: 300;
}

@font-face {
    font-family: 'Chocolate', sans-serif;
    src: '../../fonts/chocolate Covered Raindrops BOLD.ttf';
    font-weight: bold;
}

@font-face {
    font-family: 'Orange', sans-serif;
    src: '../../fonts/orange juice 2.0.ttf';
    font-weight: normal;
}